
.wwgrp {
    width: 33em;
    clear: both;
}

.wwerr {
    font-weight: bold;
    color: red;
    float: right;
    clear: right;
    margin-left: 1em;
}

.wwlbl {
    width: 8em;
    float: left;
    clear: left;
}

.wwctrl {
    float: left;
    width: 11em;
}

br { 	/* Set to display non as Struts css_xhtml renders one in the middle of the form! */
    display: none;
}

#wwctrl_login_0 {
    clear: both;
    float: left;
    margin-left: 21em;
    margin-top: 1em;
}

.fieldError{
    border: 1px solid red;
    width: 100%;
    background-color: #FFFFCC;
    padding: 0.5em;
    color: red;
    font-weight: bold;
}

.divFieldError ul {
    padding-left: 0px;
} 

.divFieldError ul li {
    list-style-type: none;
}

.divUserInfo {
    border: 1px solid green;
    background-color: #FFFFCC;
    padding: 0.2em;
    color: green;
    margin-bottom: 1em;
}